# Binarios
*.exe
*.exe~
*.dll
*.so
*.dylib

# Archivos de test
*.test

# Archivos de output
*.out

# Dependency directories
vendor/

# Go workspace file
go.work

# Directorios de build
bin/
build/

# Archivos de módulos y cache
go.sum
go.mod.cache/

# Archivos de IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
.DS_Store

# Logs
*.log
tmp/

# Archivos específicos de tu proyecto
testdata/